%centered-flex-cntnr {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}

.flex-cntnr--space-around-content {
  @extend %centered-flex-cntnr;
  justify-content: space-around;
}

.flex-cntnr--centered-content {
  @extend %centered-flex-cntnr;
  justify-content: center;
}