input,
select {
    height: 30px;
    line-height: 30px;
    border: 1px solid $primary-color;
    font-weight: bold;
    //border-radius: 5px;
    background-color: #ffffff;
}

input::placeholder {
    font-style: italic;
    font-weight: normal;
}

select {
    height: 35px;
}

input.input-error,
select.select-error {
    border-color: $accent-color;
    color: $accent-color;
} 