/***

    Grid system

*/

.left-right-margin--33px {
    margin: 0 33px;
}

.container,
.sub-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

section {
    clear: both;
}

.row {
    position: relative;
    width: 100%;
}

.row [class^="col"] {
    float: left;
    margin: 0.5rem 2%;
    min-height: 0.125rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    width: 96%;
}

.col-1-sm {
    width: 4.33%;
}

.col-2-sm {
    width: 12.66%;
}

.col-3-sm {
    width: 21%;
}

.col-4-sm {
    width: 29.33%;
}

.col-5-sm {
    width: 37.66%;
}

.col-6-sm {
    width: 46%;
}

.col-7-sm {
    width: 54.33%;
}

.col-8-sm {
    width: 62.66%;
}

.col-9-sm {
    width: 71%;
}

.col-10-sm {
    width: 79.33%;
}

.col-11-sm {
    width: 87.66%;
}

.col-12-sm {
    width: 96%;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.hidden-sm {
    display: none;
}

.hidden-md {
    display: none;
}

.hidden-lg {
    display: block;
}

.row .col-6--no-margin {
    width: 100%;
    margin: 0;
}

.no-margin {
    margin: 0 !important;
}

@media only screen and (min-width: 60em) {  /* 960px */
    .container,
    .sub-container {
        width: 90%;
        max-width: 1600px;
    }
}

@media only screen and (min-width: 45em) {  /* 720px */

    .container,
    .sub-container {
        width: 95%;
    }

    .col-1 {
        width: 4.33%;
    }

    .col-2 {
        width: 12.66%;
    }

    .col-3 {
        width: 21%;
    }

    .col-4 {
        width: 29.33%;
    }

    .col-5 {
        width: 37.66%;
    }

    .col-6 {
        width: 46%;

        &__abs-col {

            &--width-fix {
                width: 46%;
            }
    
        }
    }

    .col-7 {
        width: 54.33%;
    }

    .col-8 {
        width: 62.66%;
    }

    .col-9 {
        width: 71%;
    }

    .col-10 {
        width: 79.33%;
    }

    .col-11 {
        width: 87.66%;
    }

    .col-12 {
        width: 96%;
    }

    .hidden-sm {
        display: block;
    }
    .hidden-lg {
        display: none;
    }
    .row .col-6--no-margin {
        width: 50%;
    }
    .row .col-6--no-right-margin {
        width: 48%;
        margin-right: 0;
    }
    .row .col-6--no-left-margin {
        width: 48%;
        margin-left: 0;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 45em) {  /* 960px */
    .col-3 {
        width: 46%;
    }
}


/***

   NEW Grid system (CSS Grid Layout)

   MDN web docs:
   -- https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout

*/

.grid-3-33-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    // grid-template-columns: [col1-start] 33%  [col2-start] 33%  [col3-start] 33% [col3-end]
    // "fr" is for fraction and it takes all the space instead of leavint out a 1% as the previously commented out 33x3 does.
    grid-template-columns: [col1-start] 1fr [col2-start] 1fr [col3-start] 1fr;
    grid-template-rows: [row1-start] auto [row2-start] auto [row3-start] auto [row4-start] auto [row5-start] auto [row6-start] auto [row7-start] auto [row8-start] auto [row9-start] auto [row10-start] auto [row10-end];
}

.grid-2-50-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: [col1-start] 1fr [col2-start] 1fr;
    grid-template-rows: [row1-start] auto [row2-start] auto [row3-start] auto [row4-start] auto [row5-start] auto [row6-start] auto [row7-start] auto [row8-start] auto [row9-start] auto [row10-start] auto [row10-end];
}

.grid-box {
    margin: 4px;
    position: relative;
}


@media only screen and (max-width: 1000px){  
    .grid-3-33-wrapper {
        grid-template-columns: [col1-start] 50%  [col2-start] 50% [col2-end];
    }
    .grid-box {
        margin: 4px;
    }
}

@media only screen and (max-width: 780px){  
    .grid-3-33-wrapper {
        grid-template-columns: [col1-start] 100%  [col1-end];  
    }
    .grid-box {
        margin: 4px 0;
    }
}