.cookie-notice {
    display: none;
}

.scroll-hidden {
    overflow-y: hidden;
    height: 100vh;
}

.btn {
    cursor: pointer;
    width: 200px;
    height: 45px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-size: 16px;
}

@media screen and (max-width: 980px) { /** mobile **/
    .btn {
        font-size: 14px;
        height: 35px;
        width: 180px;
    }
}

.popup-overlay-background {
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    top: 0;
    left: 0;
}

.no-transitions {
    transition: none !important;
}

.text-not-selectable {
    user-select: none;
}

//#intercom-container {
//    z-index: 0 !important;
//}