.clear {
    display: block;
    clear: both;
}

.clearfix {
    display: block;
}

.clearfix:before,
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.inline-block {
    display: inline-block;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.float-left, 
.alignleft {
    float: left;
}

.float-right,
.alignright {
    float: right;
}

.float-left-fix {
	float: left !important;
}

.float-right-fix {
	float: right !important;
}

.center-by-margs {
	margin-left: auto;
	margin-right: auto;
}

.center-y {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.center-x {
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.center-x-rel {
	position: relative;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.center-x-and-y {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

@media screen and (max-width: 720px) {

	.center-x-and-y {

		&--reset-below-720 {
			position: relative;
			top: initial;
			left: initial;
			-webkit-transform: initial;
			-moz-transform: initial;
			-ms-transform: initial;
			-o-transform: initial;
			transform: initial;
			margin: 0 auto;
		}

	}

}

.text-center {
	text-align: center;
}

.justify {
	text-align: justify;
}

.full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.full-height {
	height: 100%;
	/*overflow: hidden;*/
}

.no-pointer-events {
	pointer-events: none;
}

.half-visible {
	opacity: 0.5 !important;
}

.opacity-visible {
	opacity: 1 !important;
}

.opacity-invisible {
	opacity: 0 !important;
}

.fixed {
	position: fixed !important;
}

@media screen and (max-width: 980px) {
	.clearfix--below-980 {
		display: block;
	}
	
	.clearfix--below-980:before,
	.clearfix--below-980:after {
		content: ".";
		display: block;
		clear: both;
		visibility: hidden;
		line-height: 0;
		height: 0;
	}

}