/***

    ROOT FONT STYLES 

*/

* {
	font-family: 'Open Sans', sans-serif;
	color: $primary-text-color;
    line-height: 1.2;
    letter-spacing: 0.5px;
	font-feature-settings: 'lnum';
	-moz-font-feature-settings: 'lnum=1';
	-ms-font-feature-settings: 'lnum';
	-webkit-font-feature-settings: 'lnum';
	-o-font-feature-settings: 'lnum';
	font-size: 16px;
}

::selection {
	background-color: $primary-color;
	color: white;
}

a {
	text-decoration: none;
}

h1,
h2 {
	line-height: 1.2
}

h1 {
    font-size: 46px;
    font-weight: 300;
}

h2 {
	font-size: 36px;
	font-weight: 300;
}

p {
	line-height: 1.6;
}

.regular {
    font-weight: normal; /** 500 **/
}

.bold-600 {
	font-weight: 600;
}

.bold {
	font-weight: bold; /** 700 **/
}

.underline {
	text-decoration: underline;
}

.black {
	color: black;
}

.all-caps {
	text-transform: uppercase;
}

.accent-text-color {
    color: $accent-text-color;
}
.white-text {
	color: $white;
}
.hashtag {
	color: #47a2e2;
}