/***

    Colors

    @TODO - There's a problem importing SCSS files from another/parent folder.
    - https://stackoverflow.com/questions/6502313/when-using-sass-how-can-i-import-a-file-from-a-different-directory
    - Maybe it should be solved with webpack and this plugin - https://github.com/shakacode/sass-resources-loader

*/

$primary-color: #119b8f;
$accent-color: #ff7f11;
$accent2-color: #ff7e5f; 

$primary-text-color: #2c2c2c;
$accent-text-color: #ffffff;
$bold-text-color: #1b1a1a;

$the-accent-text-color: #11998e;
$the-low-accent-text-color: #119a8e;

$main-background: #fff;

$light-gray-background: #f3f3f3;
$light-gray-background2: #fbfbfb;
$gray-background: #e4e4e4;
$black-background: #000;

$text-gray: #777777;
$white: #fff;
$site-orange: #ff7f11;