body {
    background-color: $main-background;
    color: $primary-text-color;
}

@media screen and (max-width: 1440px) { /** lap top **/
    
}

@media screen and (max-width: 1160px) { /** tablet **/
    
}

@media screen and (max-width: 980px) { /** mobile **/
    
}

@media screen and (max-width: 520px) { /** mobile **/
    
}

@media screen and (max-width: 360px) { /** small mobile **/

}